@using System.Web.Optimization
@using System.Web.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interactive 2012 Texas State Water Plan | @ViewBag.Title | TWDB</title>

    <link rel="icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />

    @Styles.Render(
        "~/bundles/css/cosmo.css",
        "~/Content/FontAwesome/css/font-awesome.css",
        "~/Content/chosen.cosmo.css",
        "~/Content/Site.css"
    )

    @Scripts.Render("~/bundles/js/modernizr.js")

</head>

<body lang="en">
    
    @RenderSection("BeforeContainer", required: false)

    <div class="container">
        <header class="page-header">
            <h1>
                <a href="@Url.Action("Index", "Home")" title="Texas State Water Plan 2012">Texas State Water Plan 2012</a>
            </h1>
            <p class="lead">Texas Water Development Board</p>
            <div class="menu ">
                @RenderSection("MenuLinks", required: false)
                <div class="btn-group">
                    <a href='#' class="btn dropdown-toggle" data-toggle="dropdown">
                        About <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a title="Glossary" href="@Url.Action("Index", "About")#Glossary">Glossary</a></li>
                        <li><a title="Downloading Data" href="@Url.Action("Index", "About")#DownloadingData">Downloading Data</a></li>
                        <li><a title="About Us" href="@Url.Action("Index", "About")#AboutUs">About Us</a></li>
                        <li><a title="Site Policies" href="@Url.Action("Index", "About")#SitePolicies">Site Policies</a></li>
                    </ul>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer>
            <p>
                This website is brought to you by the 
                <a href="http://www.twdb.texas.gov" title="Texas Water Development Board">Texas Water Development Board</a>
            </p>
            <p>
                <a href="@Url.Action("Index", "About")#SitePolicies" title="Site Policies">Site Policies</a> | 
                <a href="http://www.texas.gov/" title="Texas Online">Texas Online</a> | 
                <a href="http://www.governor.texas.gov/homeland" title="Homeland Security">Homeland Security</a> | 
                <a href="http://www2.tsl.state.tx.us/trail" title="TRAIL">TRAIL</a> | 
                <a href="mailto:InteractiveSWP@twdb.texas.gov" title="Contact Us">Contact Us</a>
            </p>
        </footer>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '@WebConfigurationManager.AppSettings["GoogleAnalyticsTrackingKey"]']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
