@{
    Layout = null;
}

@using System.Web.Optimization

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interactive State Water Plan 2012 | TWDB</title>

    <link rel="icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />

    @Styles.Render("~/Content/bootstrap/css/cosmo.bootstrap.css",
        "~/Content/FontAwesome/css/font-awesome.css",
        "~/Content/SiteNew.css"
    )

    @Scripts.Render("~/bundles/js/modernizr")
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>
                Texas State Water Plan 2012
            </h1>
            <p class="lead">Texas Water Development Board</p>
        </div>

        <div class="row">
            <div class="span12">
                <div class="alert alert-block alert-warning-border">
                    <h4>Warning!</h4>
                    This site is currently in alpha testing and is undergoing extensive QA/QC.
                    In some cases, the data are known to be wrong. Do not rely on these data.<br />
                    For definitive 2011 Regional Water Plan data please go to: <a href="http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/">http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <ul class="nav nav-pills" id="themeNav">
                    <li class="nav-label">THEME:</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Water Management Strategies
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Strategies by Region</a></li>
                            <li><a href="#">Strategies by County</a></li>
                            <li><a href="#">Strategies by District</a></li>
                            <li><a href="#">Strategies by Type</a></li>
                        </ul>
                    </li>
                    <li class="disabled"><a href="#">Water Use</a></li>
                    <li class="disabled"><a href="#">Sources</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div id="mapContainer"></div>
            </div>
        </div>

        <div class="row toolbar">
            <div class="span12">
                <div class="pull-left">
                    <ul class="nav nav-pills" id="yearNav">
                        <li class="nav-label">YEAR:</li>
                        <li class="active"><a href="#">2010</a></li>
                        <li class=""><a href="#">2020</a></li>
                        <li class=""><a href="#">2030</a></li>
                        <li class=""><a href="#">2040</a></li>
                        <li class=""><a href="#">2050</a></li>
                        <li class=""><a href="#">2060</a></li>
                    </ul>
                </div>
                
                <div class="pull-right">

                    <div class="input-append">
                        <input type="text" placeholder="Go to Location" />
                        <button class="btn" type="button">Go</button>
                    </div>

                </div>

                <div class="pull-right">
                    <button class="btn" type="button">
                        Zoom to Texas
                    </button>
                    &nbsp;
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="span5">
              <ul class="breadcrumb">
                <li><a href="#">Texas</a> <span class="divider">/</span></li>
                <li><a href="#">Region G</a> <span class="divider">/</span></li>
                <li class="active">Select County</li>
              </ul>
            </div>
        </div>

        <div class="row">
            <div class="span12" id="tableContainer">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

    </div>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Scripts.Render("/Content/OpenLayers/OpenLayers.debug.js")
    }
    else
    {
        @Scripts.Render("/Content/OpenLayers/OpenLayers.js")
    }
    
    <input type="hidden" id="base_path" value="@Url.Content("~/Scripts")" />

    @Scripts.Render("~/bundles/js/app")
    <script data-main="@Url.Content("~/Scripts/Compiled/backbone_app/app.js")" src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>


</body>
</html>
