@{
    Layout = null;
}

@using System.Web.Optimization
@using System.Web.Configuration

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interactive State Water Plan 2012 | TWDB</title>

    <link rel="icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />

    @Styles.Render("~/Content/bootstrap/css/cosmo.bootstrap.css",
        "~/Content/FontAwesome/css/font-awesome.css",
        "~/Content/chosen.cosmo.css",
        "~/Content/SiteNew.css"
    )

    @Scripts.Render("~/bundles/js/modernizr")

</head>
<body lang="en">
    <div class="container">
        <div class="page-header">
            <h1>
                Texas State Water Plan 2012
            </h1>
            <p class="lead">Texas Water Development Board</p>
        </div>

        <div class="row">
            <div class="span12">
                <div class="alert alert-block alert-warning-border">
                    <h4>Warning!</h4>
                    This site is currently in alpha testing and is undergoing extensive QA/QC.
                    In some cases, the data are known to be wrong. Do not rely on these data.<br />
                    For definitive 2011 Regional Water Plan data please go to: <a href="http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/">http://www.twdb.state.tx.us/waterplanning/rwp/plans/2011/</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12" id="mapTopToolbarContainer">
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div id="mapContainer"></div>
            </div>
        </div>

        <div class="row toolbar">
            <div class="span12">
                <div class="pull-left" id="yearNavContainer"></div>
        
                <div id="mapBottomToolsContainer">

                </div>
        
            </div>
        </div>

        <div id="dataContainer">
            <div class="row" id="regionCountySelectContainer">
                <div class="span3" id="regionSelectContainer"></div>
                <div class="span3" id="countySelectContainer"></div>
                <div class="span3" id="houseSelectContainer"></div>
                <div class="span3" id="senateSelectContainer"></div>
            </div>

            <div class="row">
                <div class="span12" id="tableContainer"></div>
            </div>
            <div class="row"><div class="tableLoading"></div></div>
            <div class="row hide" id="nothingFound">
                <div class="span12">
                    <div class="alert alert-info">Sorry, no strategies found.</div>
                </div>
            </div>
        </div>

    </div>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Scripts.Render("~/Content/OpenLayers/OpenLayers.debug.js")
    }
    else
    {
        @Scripts.Render("~/Content/OpenLayers/OpenLayers.js")
    }
    
    <input type="hidden" id="base_script_path" value="@Url.Content("~/Scripts")" />
    <input type="hidden" id="base_path" value="@Url.Content("~/")" />
    <input type="hidden" id="bing_maps_key" value="@WebConfigurationManager.AppSettings["bing_maps_key"]" />

    

    <script type="text/javascript">
        var initCountyNames = @Html.Raw(ViewData["CountyNames"]);

        var initRegionNames = @Html.Raw(ViewData["RegionNames"]);

        var initHouseNames = @Html.Raw(ViewData["HouseNames"]);

        var initSenateNames = @Html.Raw(ViewData["SenateNames"]);
    
        var initStrategyTypes = @Html.Raw(ViewData["StrategyTypes"]);
    </script>

    @Scripts.Render("~/bundles/js/app")


</body>
</html>
